<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

<h1>Login</h1>
<form action="">
    <label for="username">Username</label>
    <input type="text" name="" id="">
    <label for="password">Passsword</label>
    <input type="password" name="" id="">
    <button>Submit</button>
</form>

<%- include("./partials/footer") %>
