<%-  include("./partials/header") %>

<main class="container mt-5 border w-75 p-3">
    <div class="alert alert-danger" role="alert">
       <%=message%>
    </div>
</main>

<%-  include("./partials/footer") %>
    
