.banner{
    background-image: url("https://plus.unsplash.com/premium_photo-1672938878598-31c1c614f708?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    width: 100%;
    height: 50vh;
}